<div
  [ngStyle]="{
    transform: service.whitePlayerView ? 'rotate(180deg)' : 'rotate(0deg)'
  }"
>
  <div
    *ngIf="king.isWhite == false"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <img
      src="../../../assets/Images/freeware/merida/320/BlackKing.png"
      style="width: 100%;"
    />
  </div>
  <div
    *ngIf="king.isWhite == true"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <img
      src="../../../assets/Images/freeware/merida/320/WhiteKing.png"
      style="width: 100%;"
    />
  </div>
</div>
